.about {
  flex-grow: 1;
}

.about h1 {
  margin-bottom: 20px;
}

.projects {
  margin-top: 20px;
  display: flex;
}

.project {
  margin-right: 30px;
}

.about p {
  font-size: 20px;
}

.project-pic {
  width: 350px;
  height: 200px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .projects {
    margin-top: 20px;
    display: inline;
  }

  .project {
    margin-bottom: 10px;
  }
}
