* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Baloo 2", "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dde8fc;
}

/* hide scrollbar in browser */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

.p {
  line-height: 30px;
  font-family: "Baloo 2", "Indie Flower", cursive;
}

h1,
h2 {
  font-family: "Baloo 2", "Indie Flower", cursive;
}
